:root {
  --color-background: #121214;
  --color-green: #00875f;
  --color-green-light: #00b37e;
  --color-gray-100: #e1e1e6;
  --color-gray-200: #c4c4cc;
  --color-gray-300: #8d8d99;
  --color-gray-400: #7c7c8a;
  --color-gray-500: #323238;
  --color-gray-600: #202024;
  --color-gray-700: #121214;
  --color-white: #fff;
  --color-red-danger: #f75a68;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-gray-200);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
